
/* Подсветка правильного/неправильного ответа */
/* .correct {
  border: 2px solid green !important;
}

.wrong {
  border: 2px solid red !important;
} */

.question-card {
  margin-top: 20px;
  padding: 25px;
}

.question-title {
  text-align: left;
}

.question-text {
  text-align: left;
}

.question-body {
  white-space: pre-line;
  margin: 0 auto;
  text-align: justify;
}

.question-input {
  margin-top: 20px;
  text-align: left;
}

.input-pose {
 margin-left: 10px;
 border-radius: 5px;
 border: 1px solid #ccc;
}

.input-pose:focus {
  border-color: #fd7811;
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(253, 120, 17, 0.25);
}

.textarea-container {
  margin: 0 auto;
  text-align: center;
}

.textarea-style {
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 700px;
}

.textarea-style:focus {
  border-color: #fd7811;
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(253, 120, 17, 0.25);
}