.answer-row {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.answer-label {
  margin-right: 0.5rem;
  font-weight: 300;
}


.answer-table {
  border-collapse: collapse;
  table-layout: fixed;
  border: 1px solid #ccc;
  margin-left: 0.5rem;
}
.answer-table th,
.answer-table td {
  border: 1px solid #ccc;
  width: 28px;
  height: 28px;
  padding: 0;
  text-align: center;
}
.table-input {
  width: 28px;
  height: 28px;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  line-height: 1;
}

.question-card:nth-of-type(n+2) .answer-input {
  width: auto;                
  height: auto;               
  padding: 0.25rem 0.5rem;    
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: left;
  font-size: 14px;
  line-height: 1;
  display: inline-block;
  margin: 0;
}


/* Убедитесь, что table-layout фиксирован */
.answer-table {
  border-collapse: collapse;
  table-layout: fixed;
}

.answer-table th,
.answer-table td {
  border: 1px solid #ccc;
  padding: 0;
  width: 28px;
  height: 28px;
}


.submit-button {
  background-color: #fd7811;
  color: #fff;
  font-weight: 300;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 15px;
  display: block;
  margin: 1rem auto;
  cursor: pointer;
}

.submit-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.question-header {
  font-size: 14px;
  display: flex;
  margin-left: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}

.correct {
  background-color: #c0ffc0;
}

.wrong {
  background-color: #ffc0c0;
}
.back-btn {
  background-color: #fd7811;
  color: #fff;
  font-weight: 300;
  border: none;
  border-radius: 15px;
  margin: 1rem auto;
  cursor: pointer;
  padding: 0.5rem 1rem;
}